<section>
    <span class="mobile-menu-icon"></span>
    <svg class="mobile-menu-burger-icon" viewBox="0 90 24 15.197">
        <use xlink:href="#burger-menu" />
    </svg>
    <span class="mobile-menu-indicator hidden"></span>

    <nav class="mobile-menu">
        {% if is_login %}
            <div class="mobile-menu-header">
                <p class="mobile-menu-header-username">
                    {% include '@app/web/images/svg/user-profile.svg' %}
                    {{ username }}
                </p>
                <p class="mobile-menu-header-amount">
                    {{ total_balance_label }} <span class="mobile-menu-amount"></span>
                </p>
            </div>
            <span class="menu-content-button close-svg">
                {% include '@app/web/images/svg/menu/closed.svg' %}
            </span>
        {% else %}
            <div class="mobile-menu-header">
                {% block logoSection %}
                    {{ include('@component/Header/templates/logo.html.twig') }}
                {% endblock %}
                <span class="menu-content-button close-svg">
                    {% include '@app/web/images/svg/menu/closed.svg' %}
                </span>
            </div>
        {% endif %}


        <div class="mobile-menu-body">
            {{ include('@component/Menu/templates/menu-top.html.twig') }}
            <div class="menu-display menu-display-product">
                {{ include('@component/Menu/templates/menu-product.html.twig') }}
            </div>

            {# Internal Links #}
            {{ include('@component/Menu/templates/menu-quicklinks.html.twig') }}

            {# Mobile menu footer #}
            {{ include('@component/Menu/templates/menu-otherlinks.html.twig') }}
            
        </div>
    </nav>
</section>
<span class="hidden">
    {% include '@app/web/images/svg/quicklinks/quicklinks-icons.svg' ignore missing %}
</span>
