{% if app.get('profiler').isProfileable() %}

    {{ app.get('profiler').setMessage('Page Render', 0, true) }}
    {{ app.get('profiler').debugSession() }}

    <div class="profiler-tab compact" style="display: none">
        <button
            class="profiler-button"
            onclick="hideProfilerBar('full')"
        >
            <strong>WBC</strong>
        </button>
    </div>

    <div class="profiler-tab full">
        <button
            class="profiler-button"
            onclick="hideProfilerBar('compact')"
        >
            <strong>WBC PROFILER</strong>
        </button>

        <button
            class="profiler-button"
            onclick="doProfiler('#profiler-content-console')"
        >
            Console
        </button>

        <div id="profiler-content-console" class="profiler-content" style="display: none">
            <div class="header">
                Console
            </div>
            <div class="content">
                {% for key, messages in app.get('profiler').getMessages() %}
                    {% if not key == 0 and messages is iterable %}
                        <p><strong>{{ key }} ({{ messages|length }}) </strong></p>
                        {{ include('@component/Profiler/templates/message.html.twig') }}
                    {% elseif key == 0 and messages is iterable %}
                        <p><strong>Debug</strong></p>
                        {{ include('@component/Profiler/templates/message.html.twig') }}
                    {% endif %}
                {% else %}
                    <p>No debug messages to display</p>
                {% endfor %}
            </div>
        </div>

        <button class="profiler-button">Middlewares</button>
        <button class="profiler-button">Networks</button>
        <button class="profiler-button">Async</button>

        <span id="btn-profile" class="profiler-button" style="float: right">
            Render 
            <strong>
                <span class="profiler-time-ms">{{ app.get('profiler').getRenderTime() }}</span> ms
            </strong>
        </span>
    </div>

    <style>
        {{ include('@component/Profiler/assets/style.css') }}
    </style>

    <script>
        {{ include('@component/Profiler/assets/script.js') }}
    </script>
{% endif %}
