{% if node_banner_link.0.uri or banner_link_target.0.value %}
    <a
        href="{{ url(node_banner_link.0.uri) }}"
        target="{{banner_link_target.0.value }}"
        
        data-router="true"
        data-router-refresh="main"
    >
{% endif %}
{% if node_banner_image.0.url %}
    <img src="{{ node_banner_image.0.url }}" alt="{{ node_banner_image.0.alt }}" class="w-100">
{% endif %}

{% if not node.field_hide_countdown.0.value %}
    <div class="promotions-body-banner-scheduler hidden">
        <svg class="clock" viewBox="0 120 24 24">
            <use xlink:href="#clock" />
        </svg>
        <span data-end-time="{{ node.unpublish_on.0.value }}" class="countdown-text"></span>
    </div>
{% endif %}

{% if node_banner_link.0.uri or banner_link_target.0.value %}
    </a>
{% endif %}