{% if node.field_games_list|length > 0 %}
    <section class="xlider" id="main-slider">
        {% for game_list in node.field_games_list %}
            <div class="xlide-item">
                <a class="game-list game-listing-item"
                    {% if is_login %}
                        data-game-launch="true"
                    {% endif %}
                    data-game-product = "{{ game_list.field_product.0.value }}"
                    data-game-code = "{{ game_list.field_game_code.0.value }}"
                    data-game-keywords = "{{ game_list.keywords.0.value }}"
                    {% for provider in game_provider %}
                        {% if game_list.field_game_provider.0.target_id == provider.tid %}
                            data-game-provider = "{{ provider.field_provider_code }}"
                        {% endif %}
                    {% endfor %}
                    {% for subprovider in game_subprovider %}
                        {% if game_list.field_game_subprovider.0.target_id == subprovider.tid %}
                            data-game-subprovider = "{{ subprovider.name }}"
                        {% endif %}
                    {% endfor %}
                    {% if game_list.field_use_game_loader.0.value %}
                        data-game-loader = "true"
                    {% else %}
                        data-game-loader = "false"
                    {% endif %}
                    data-game-target = "{{ game_list.field_target.0.value }}"
                    {% if game_list.field_use_lobby.0.value %}
                        data-game-lobby = "true"
                    {% endif %}
                    {% if game_list.field_game_platform.0.value %}
                        data-game-platform = "{{ game_list.field_game_platform.0.value }}"
                    {% endif %}
                >
                    <picture>
                        <source srcset="" media="(min-width: 40em) and (orientation: landscape)">
                        <img
                            src="{{ game_list.field_game_image.0.url }}"
                            alt="{{ game_list.field_game_image.alt }}"
                            class="w-100"
                        >
                    </picture>
                    <div class="xlider-blurb bottom">
                        <p>{{ game_list.field_game_title.0.value }}</p>
                    </div>
                </a>
            </div>
        {% endfor %}
    </section>
{% endif %}