<div id="forgot-username-password">
    <div class="page-title promotions">
        <h1 class="page-title-text">{{ titleForgot }}</h1>
    </div>
    <div class="tab forgot-form-wrapper">
        <ul class="tab-menu">
            <li class="active"><a href="{{ passwordLink }}">{{ passwordTabMenu }}</a></li>
            <li><a href="{{ usernameLink }}">{{ usernameTabMenu }}</a></li>
        </ul>
        <div class="container">
            <div class="tab-content" id="forgot-password-content">
                {{ widget('cant_login_forgot_password') }}
            </div>
            <div class="tab-content" id="forgot-username-content">
                {{ widget('cant_login_forgot_username') }}
            </div>
        </div>
    </div>

</div>
<div class="expired-token-wrapper hidden">
    {{ mobileResetExpiredMessage|raw }}
</div>
<div id="reset-password">
    <div class="page-title promotions">
        <h1 class="page-title-text">{{ titleReset }}</h1>
    </div>
    <div class="reset-password-page">
        <div class="container">
            {{ widget('cant_login_reset_password') }}
        </div>
    </div>
</div>
