<div class="modal-body">
    {{#if languageSVG}}
    <svg class="in-language" viewBox="0 0 20 20">
        <use xlink:href="#{{ languageSVG }}" />
    </svg>
    {{/if}}

    {{#if languageIndiaTitle}}
    <h3>{{ languageIndiaTitle }}</h3>
    {{/if}}
    {{#if languageIndiaDescription}}
    {{{ languageIndiaDescription.value }}}
    {{/if}}
    <ul class="menu">
        {{!-- {{#each languageData}}
        <li class="col-6">
            <ul>
            {{#each this}}
                <li class="{{ this.id }} {{#condition this.prefix "===" ../../currentLanguage }}active{{/condition}}">
                    <a href="#" class="language-link" data-lang="{{ this.prefix }}">
                        {{ this.name }}
                    </a>
                </li>
            {{/each}}
            </ul>
        </li>
        {{/each}} --}}
        <li><a class="in-language-link" data-lang="en-IN" data-lang-prefix="in" href="#">English</a></li>
        <li><a class="in-language-link" data-lang="hi" data-lang-prefix="hi" href="#">हिन्दी</a></li>
        <li><a class="in-language-link" data-lang="te" data-lang-prefix="te" href="#">తెలుగు</a></li>
    </ul>
    <svg data-name="closed" viewBox="0 0 70.24 70.24" class="in-lang-close modal-close modal-close-button">
        <rect class="modal-close" />
        <path class="modal-close"
            d="M39.53 35.12L53 21.17a3.18 3.18 0 0 0-.09-4.49 3.18 3.18 0 0 0-4.49.09l-13.3 13.78-13.26-13.78a3.18 3.18 0 0 0-4.49-.09 3.18 3.18 0 0 0-.08 4.49l13.43 13.95-13.43 14a3.17 3.17 0 1 0 4.57 4.4L35.12 39.7l13.26 13.77a3.18 3.18 0 0 0 4.49.09 3.18 3.18 0 0 0 .13-4.49z" />
    </svg>
</div>
