{{!-- <a href="#" class="{{class}} btn btn-small btn-yellow pushnx-lightbox-btn-ok" id="{{id}}" data-msg-id="{{messageId}}" data-id="{{actionId}}">{{actionKey}}</a>
 --}}
<a href="#" class="{{class}} btn btn-small btn-medium btn-yellow pushnx-lightbox-btn-accept" id="{{id}}" data-msg-id="{{messageId}}" data-id="{{actionId}}">accept</a>

<a href="#" class="{{class}} btn btn-small btn-medium btn-red pushnx-lightbox-btn-decline" id="{{id}}" data-msg-id="{{messageId}}" data-id="{{actionId}}">decline</a>

