<ul>
    <li class="pushnx-lightbox-message message-pnx" id="message{{messageId}}">
        <div class="pushnx-lightbox-message-title"><strong class="text-red text-uppercase">{{{title}}}</strong><span class="pushnx-lightbox-message-title-time pull-right">{{publishDate}} {{{expirationLabel}}}</span></div>
        <p class="content" style="">{{{content}}} - custom templates</p>
        <p class="actions" id="actions{{messageId}}" data-expiry="{{expiryDate}}">{{{actions}}}</p>
    </li>
</ul>
