<div class="message message-pnx" id="message{{messageId}}">
    <div class="circle"></div>
    <div>{{{title}}}</div>
    <div class="content" style="">{{{content}}} - custom templates</div>
    <div class="actions" id="actions{{messageId}}" data-expiry="{{expiryDate}}">{{{actions}}}</div>
    <div class="time">{{publishDate}} {{{expirationLabel}}}</div>
</div>
<hr/>
