<h2 class="category-menu-title">{{pageData}}</h2>
<div class="all-category">
    <ul class="main-game-category">
        {{#each categories}}
            {{#if this.published }}
                <li class="game-category-item">
                    <a
                        href="#{{this.field_games_alias}}"
                        class="category-{{this.field_games_alias}}"
                        data-category-filter-id="{{this.field_games_alias}}"
                        data-category-filter-name="{{{this.name}}}"
                    >
                        {{#if this.field_games_category_logo }}
                            <img src="{{this.field_games_category_logo}}" alt="{{{this.name}}}">
                        {{/if}}
                    </a>
                    {{#if this.name }}
                        <p>{{this.name}}</p>
                    {{/if}}
                </li>
            {{/if}}
        {{/each}}
    </ul>
</div>
