<div class="category-data req-category-data">
    <span class="category-name">{{categoryName}}</span>
</div> 
<div class="rectangular-game">  
    <ul class="rectangular-game-tile">
    {{#each games}}
        <li class="rectangular-game-tile-item"
            style="background-image: url({{this.image_big.url}})" 
            role="img" aria-label="{{this.image_big.alt}}">
             <a class="game-list game-listing-item"
            {{#if ../isLogin}}
            data-game-launch="true"
            {{/if}}
            data-game-code="{{this.game_code}}"
            data-game-title="{{this.title}}"
            data-game-keywords ="{{this.keywords}}"
            >
            </a>
        </li>
    {{/each}}
    </ul>
</div>