<div class="lobby-content">
    <div class="category-data">
        {{#equals pageTemplate "home-page-content"}}
            <span class="category-name">{{categoryName}}</span>
            <a href="#{{categoryUrl}}" class="category-count">
                {{#if enableAllText}}
                    {{displayShowAllText}} ({{gameCatCount}}) >>
                {{/if}}
            </a>
        {{/equals}}
        {{#equals pageTemplate "category-game-content"}}
            <div class="category-page-header">
                <a href="#{{backUrl}}" class="back-arrow">
                    <svg xmlns="http://www.w3.org/2000/svg" width="54.5" height="18.197" 
                    viewBox="0 0 54.5 18.197"><g transform="translate(-325.5 -132.5)"><g transform="translate(328.344 150.197) rotate(180)"><path d="M1.037,17.019a.594.594,0,0,1-.43.178.593.593,0,0,1-.43-.178.609.609,0,0,1,0-.86L7.736,8.6.178,1.038a.608.608,0,1,1,.86-.86L9.026,8.169a.609.609,0,0,1,0,.86Z" transform="translate(-6.859 0)" fill="#af050f"/><path d="M.608,17.7a1.108,1.108,0,0,1-.783-1.891L7.029,8.6l-7.2-7.207a1.109,1.109,0,0,1,0-1.567A1.1,1.1,0,0,1,.608-.5a1.1,1.1,0,0,1,.783.324L9.379,7.815a1.109,1.109,0,0,1,0,1.567L1.391,17.373A1.1,1.1,0,0,1,.608,17.7ZM.608.5A.106.106,0,0,0,.531.531a.108.108,0,0,0,0,.153L8.443,8.6.531,16.513a.108.108,0,0,0,0,.153.1.1,0,0,0,.076.031.1.1,0,0,0,.076-.031L8.672,8.675a.108.108,0,0,0,0-.153L.684.531A.106.106,0,0,0,.608.5Z" transform="translate(-6.859 0)" fill="#af0000"/></g><path d="M4066-45.4h52" transform="translate(-3739 187)" fill="#af0000"/><path d="M4118-44.4h-52a1,1,0,0,1-1-1,1,1,0,0,1,1-1h52a1,1,0,0,1,1,1A1,1,0,0,1,4118-44.4Z" transform="translate(-3739 187)" fill="#af0000"/></g></svg>
                </a>
                <span class="category-page-title">{{categoryName}}</span>
            </div>
        {{/equals}}
    </div>
    <ul class="game-lobby-container">
    {{#each games}}
        <li class="game-listing"
            style="background-image: url({{this.image.url}})"
            role="img" aria-label="{{this.image.alt}}">
            <a class="game-list game-listing-item"
            {{#if ../isLogin}}
            data-game-launch="true"
            {{/if}}
            data-game-code="{{this.game_code}}"
            data-game-keywords ="{{this.keywords}}"
            data-game-provider="{{this.game_provider}}"
            data-game-loader="{{this.use_game_loader}}"
            data-game-target="{{this.target}}"
            >
                {{#if this.ribbon}}
                    <span class="game-ribbon"
                        style="background: {{this.ribbon.background}}; color: {{this.ribbon.color}};"
                    >
                        {{this.ribbon.name}}
                    </span>
                {{/if}}
                {{#if ../isLogin}}
                <span class="game-favorite {{lookup ../favorites this.game_code}}">
                    <svg viewBox="0 0 33.74 31.49">
                        <path class="star-body" d="M16.87 0l5.56 9.9L33.74 12l-7.87 8.25 1.43 11.24-10.43-4.8-10.43 4.8 1.43-11.21L0 12l11.31-2.1L16.87 0"/>
                        <path class="star-border" d="M16.87 4.08l3.82 6.8.46.81.91.17 7.69 1.45-5.33 5.59-.65.69.12.94 1 7.64-7.15-3.29-.84-.39-.83.39-7.19 3.29 1-7.64.12-.94-.66-.69L4 13.31l7.69-1.45.92-.17.45-.81 3.82-6.8m0-4.08l-5.57 9.9L0 12l7.87 8.25-1.43 11.24 10.43-4.8 10.43 4.8-1.43-11.21L33.74 12 22.43 9.9 16.87 0z"/>
                    </svg>
                </span>
                {{/if}}
            </a>
        </li>
    {{/each}}
    </ul>
</div>