{% form_theme formMyProfile '@base/form/standard.html.twig' %}
{{ form_start(formMyProfile, {'attr': {'class': 'pure-form profile-form show-label'}}) }}
<div class="alert alert-error hidden" id="verification-error"> </div>
{{ form_end(formMyProfile) }}

<div class="verification-container hidden">
    <a href="#verify-mobile-number" class="verify-mobile verify-mobile-selector hidden" id="verify-mobile-modal"> {{ verifyText }} </a>
    <span class="btn btn-small btn-yellow verify-mobile-loading verify-mobile hidden"><img src="../images/balance-loader-white.gif"></span>
</div>
<a id="add-new-mobile" href="" class="add-new-mobile hidden">{{ addMobileLabel }}</a>

<div id="verify-mobile-number" class="modal">
    <div class="modal-content">
        <div class="modal-inner-container">
            <div class="modal-header">{{ modalVerifyHeaderText }}</div>
            <div class="alert alert-error hidden" id="modal-verification-error"> </div>
            <div class="alert alert-success hidden" id="modal-verification-success"> </div>
            <div class="modal-body">
                <p class="mb-30">{{ modalVerifyBodyText | raw }}</p>
                <form class="pure-form" name="sms-verification-code-form" id="verify-sms-form" method="post">
                <div class="form-wrapper">
                    <div class="form-overlay"></div>
                    <div class="verification-code-field-wrapper">
                        <input type="text" name="verification-code-field" id="verification-code-field" placeholder="{{ modalVerificationCodePlaceholder }}" class="input-block-level verification-code-field" />
                        <span class="validation-icon"></span>
                        <span class="validation-error-message text-red"></span>
                    </div>
                    <a href="" class="resend-code" id="verify-mobile-resend"> {{ modalVerificationResendCodeText }} </a>
                    <!--[if lte IE 8]><input type="text" style="display: none" disabled="disabled" /><![endif]-->
                    <input type="submit" value="{{ modalVerificationSubmitText }}" class="send-code-submit btn btn-small btn-yellow btn-lower-case" id="verify-mobile-submit">
                    <button class="send-code-submit btn btn-small btn-yellow hidden" id="verify-mobile-reload"> <img src="../images/balance-loader-white.gif" /> </button>
                </div>
                </form>
            </div>
            <a href="#" class="modal-close modal-close-button lazy-load" data-src="../images/sprite.png"></a>
        </div>
    </div>
</div>
{{ include('@component/Main/MyAccount/Profile/templates/profile-verification.html.twig') }}
