{% form_theme formMyProfile '@base/form/standard.html.twig' %}
{{ form_start(formMyProfile, {'attr': {'class': 'pure-form profile-form show-label'}}) }}
<div class="alert alert-error hidden" id="verification-error"> </div>
{{ form_end(formMyProfile) }}

<div class="verification-container hidden">
    <a href="#verify-mobile-number" class="verify-mobile verify-mobile-selector hidden" id="verify-mobile-modal"> {{ verifyText }} </a>
    <span class="btn btn-small btn-yellow verify-mobile-loading verify-mobile hidden"><img src="../images/balance-loader-white.gif"></span>
</div>
<a id="add-new-mobile" href="" class="add-new-mobile hidden">
    {% include '@app/web/images/svg/plus-icon.svg' ignore missing %}
    {{ addMobileLabel }}
</a>

<div id="verify-mobile-number" class="modal modal-standard">
    <div class="modal-content">
        <div class="modal-inner-container">
            <div class="modal-header">{{ modalVerifyHeaderText }}</div>
            <div class="modal-body">
                <div class="alert alert-error hidden" id="modal-verification-error"> </div>
                <div class="alert alert-success hidden" id="modal-verification-success"> </div>
                <p class="mb-30">{{ modalVerifyBodyText | raw }}</p>
                <form class="pure-form sms-verification-code-form" name="sms-verification-code-form" id="verify-sms-form" method="post">
                    <div class="form-item verification-code-field-wrapper">
                        <div class="form-field">
                            <input type="text" name="verification-code-field" id="verification-code-field" placeholder="{{ modalVerificationCodePlaceholder }}" class="input-block-level form-field-element verification-code-field" />
                            <span class="icon-validation">
                                <svg class="icon-error" viewBox="0 0 100 100"><use xlink:href="#exclamation-rounded" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                                <svg class="icon-success" viewBox="0 0 39.19 39.53"><use xlink:href="#check-rounded-thin" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg>
                            </span>
                            <span class="validation-error-message form-help-block tag-color-apple-red text-align-left"></span>
                            <a href="" class="resend-code" id="verify-mobile-resend"> {{ modalVerificationResendCodeText }} </a>
                        </div>
                    </div>
                    <div class="form-item verify-mobile-reload-wrapper">
                        <div class="form-field">
                            <!--[if lte IE 8]><input type="text" style="display: none" disabled="disabled" /><![endif]-->
                            <input type="submit" value="{{ modalVerificationSubmitText }}" class="send-code-submit btn btn-small btn-yellow btn-lower-case" id="verify-mobile-submit">
                            <button class="send-code-submit btn btn-small btn-yellow hidden" id="verify-mobile-reload"> <img src="../images/balance-loader-white.gif" /> </button>
                        </div>
                    </div>
                </form>
            </div>
            {% include '@app/web/images/svg/closed.svg' ignore missing %}
        </div>
    </div>
</div>
{{ include('@component/Main/MyAccount/Profile/templates/profile-verification.html.twig') }}
