{% form_theme formMyProfile '@base/form/standard.html.twig' %}
{{ form_start(formMyProfile, {'attr': {'class': 'pure-form profile-form show-label'}}) }}
<div class="alert alert-error hidden" id="verification-error"> </div>
{{ form_end(formMyProfile) }}

<div class="verification-container hidden">
    <a href="#verify-mobile-number" class="verify-mobile verify-mobile-selector hidden" id="verify-mobile-modal"> {{ verifyText }} </a>
    <span class="btn btn-small btn-yellow verify-mobile-loading verify-mobile hidden"><img src="../images/balance-loader-white.gif"></span>
</div>
<a id="add-new-mobile" href="" class="add-new-mobile hidden">
    {% include '@app/web/images/svg/plus-icon.svg' ignore missing %}
    {{ addMobileLabel }}
</a>

<div id="verify-mobile-number" class="modal modal-standard">
    <div class="modal-content">
        <div class="modal-inner-container">
            <div class="modal-header">{{ modalVerifyHeaderText }}</div>
            <div class="modal-body">
                <div class="alert alert-error hidden" id="modal-verification-error"> </div>
                <div class="alert alert-success hidden" id="modal-verification-success"> </div>
                <p class="mb-30">{{ modalVerifyBodyText | raw }}</p>


                {% form_theme SmsVerificationForm '@base/form/standard.html.twig' %}
                {{ form_start(SmsVerificationForm, {'attr': {'class': 'pure-form sms-verification-code-form', 'id': 'verify-sms-form'}}) }}
                <div class="alert alert-error hidden" id="verification-error"> </div>
                {{ form_end(SmsVerificationForm) }}

            </div>
            {% include '@app/web/images/svg/closed.svg' ignore missing %}
        </div>
    </div>
</div>
{{ include('@component/Main/MyAccount/Profile/templates/profile-verification.html.twig') }}

{# Question mark icon #}
<span class="hidden">
    {% include '@app/web/images/svg/rounded-questionmark.svg' ignore missing %}
</span>
