<h1 class="logo {{ logoData.language }}">   
    <a 
    href="{{ logoData.logo_link }}"
    hreflang="{{ logoData.language }}"
    rel="{{ logoData.logo_title }}"
    title="{{ logoData.logo_title }}"
    data-router="true"
    data-router-refresh='["main", "tab_navigation"]'>
        <img src="{{ logoData.logo }}" alt="{{ logoData.logo_title }}" class="logo-img" id="header-logo-img">
    </a>
</h1>