<section class="banner slider pagination-right" id="main-banner">
    <div class="banner-slides">
    {% for slide in slides %}
        <div class="banner-slides-item">
            <a href="{{slide['field_banner_link'][0]['value'] }}" 
            target="{{slide['field_banner_link_target'][0]['value']}}">
                <picture>
                    <source media="(max-width: 767px)" 
                    srcset="{{ asset(slide['field_banner_image'][0]['url']) }}">
                    <img src="{{ asset(slide['field_banner_image'][0]['url']) }}" 
                    alt="{{ asset(slide['field_banner_image'][0]['alt']) }}" class="w-100">
                </picture>
            </a>
            <div class="banner-blurb {{slide['field_content_position'][0]['value'] }}">
                {% if slide['field_product'][0]['name']['value'] %}
                <span class="product-tag ">{{slide['field_product'][0]['name']['value']}}</span>
                {% endif %}
                {{ slide['field_banner_blurb'][0]['value']|raw }}
            </div>
        </div>
    {% endfor %}
    </div>
</section>
