<section class="banner slider pagination-right" id="main-banner">
    <div class="banner-slides">
        <div class="banner-slides-item">
            <a href="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sliders/slider_mobile_1.jpg') }}">
                    <img src="{{ asset('images/sliders/slider_tablet_1.jpg') }}" alt="" class="w-100">
                </picture>
            </a>
        </div>
        <div class="banner-slides-item">
            <a href="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sliders/slider_mobile_2.jpg') }}">
                    <img src="{{ asset('images/sliders/slider_tablet_2.jpg') }}" alt="" class="w-100">
                </picture>
            </a>
        </div>
        <div class="banner-slides-item">
            <a href="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sliders/slider_mobile_1.jpg') }}">
                    <img src="{{ asset('images/sliders/slider_tablet_1.jpg') }}" alt="" class="w-100">
                </picture>
            </a>
        </div>
    </div>
</section>
