{% if not is_login %}
<div id="login-lightbox" class="modal login">
    <div class="modal-content login-content">
        <div class="modal-body">
            {{ include('@component/Header/templates/logo-image.html.twig') }}
            <form action="" class="login-form text-center" name="login-form">
                {# <p class="login-notification">Account details incorrect - please check</p> #}
                <div class="login-field mb-20">
                    <input type="text" class="login-field-username input-block-level" name="username" placeholder="{{ username_placeholder }}">
                    {% include '@app/web/images/svg/user-login.svg' ignore missing %}
                </div>
                <div class="login-field">
                    <input type="password" class="login-field-password input-block-level password-mask-enabled" name="password" placeholder="{{ password_placeholder }}">
                    {% include '@app/web/images/svg/user-password.svg' ignore missing %}
                    {% set passwordClass = true ? " password-mask-enabled" : "" %}
                    <span class="hidden password-mask-icon mask">
                        {% include '@app/web/images/svg/password-mask.svg' ignore missing %}
                        {% include '@app/web/images/svg/password-unmask.svg' ignore missing %}
                    </span>
                </div>
                <p class="login-error"></p>
                <label class="login-remember-username block mt-10 mb-15 text-left">
                    <input type="checkbox" name="remember"> {{ mobile_remember }}
                </label>
                <input type="submit" value="{{ login_bottom_label }}" class="btn btn-gray login-submit input-block-level mb-10">
                <p class="mb-30"><a href="{{ url(login_issue_link) }}" class="login-help-link">{{ login_issue_text }}</a></p>
                <p class="mb-10">{{ lightbox_blurb }}</p>
                <a
                    href="{{ url(join_now_link) }}"
                    class="btn-join btn btn-yellow input-block-level"
                    data-join-url="{{ url(join_now_link) }}"
                >
                    {{ join_now_text }}
                </a>
            </form>
        </div>
        {% include '@app/web/images/svg/closed.svg' ignore missing %}
    </div>
</div>
{% endif %}
