<section>
    {% include '@app/web/images/svg/burger-menu.svg' %}

    <nav class="mobile-menu">
        {% if is_login %}
            <h2 class="mobile-menu-header">
                {% include '@app/web/images/svg/user-profile.svg' %}
                {{ username }}
                {% include '@app/web/images/svg/closed.svg' %}
            </h2>
        {% else %}
            <h2 class="mobile-menu-header">
                {% block logoSection %}
                    {{ include('@component/Header/templates/logo.html.twig') }}
                {% endblock %}
                {% include '@app/web/images/svg/closed.svg' %}
            </h2>
        {% endif %}


        <div class="mobile-menu-body">
            {% if is_login %}
                <ul class="mobile-menu-button clearfix">
                    <li><a href="#" target="_blank" class="btn btn-small btn-yellow">Cashier</a></li>
                    <li><a href="#" class="btn btn-small btn-yellow">My Account</a></li>
                </ul>
            {% endif %}
            
            <div class="menu-display menu-display-product">
                {{ widget('home_products') }}
            </div>

            {# Internal Links #}
            <h3 class="mobile-menu-internal-header"><span>Links</span></h3>
            {{ include('@component/Header/templates/links.html.twig') }}

            {# Mobile menu footer #}
            {{ include('@component/Header/Menu/templates/menu-otherlinks.html.twig') }}
            
        </div>
    </nav>
</section>
