<section>
    <span class="mobile-menu-icon">{% include '@app/web/images/svg/burger-menu.svg' %}</span>
    <span class="mobile-menu-indicator hidden"></span>

    <nav class="mobile-menu">
        {% if is_login %}
            <div class="mobile-menu-header">
                <p class="mobile-menu-header-username">
                    {% include '@app/web/images/svg/user-profile.svg' %}
                    {{ username }}
                </p>
                <p class="mobile-menu-header-amount">
                    Total Balance: <span class="mobile-menu-amount"></span>
                </p>
            </div>
                {% include '@app/web/images/svg/menu/closed.svg' %}
        {% else %}
            <div class="mobile-menu-header">
                {% block logoSection %}
                    {{ include('@component/Header/templates/logo.html.twig') }}
                {% endblock %}
                <span class="menu-content-button close-svg">
                    {% include '@app/web/images/svg/menu/closed.svg' %}
                </span>
            </div>
        {% endif %}


        <div class="mobile-menu-body">
            {{ include('@component/Header/Menu/templates/menu-top.html.twig') }}
            <div class="menu-display menu-display-product">
                {{ include('@component/Header/Menu/templates/menu-product.html.twig') }}
            </div>

            {# Internal Links #}
            {{ include('@component/Header/Menu/templates/menu-quicklinks.html.twig') }}

            {# Mobile menu footer #}
            {{ include('@component/Header/Menu/templates/menu-otherlinks.html.twig') }}
            
        </div>
    </nav>
</section>
