<section>
    {% include '@app/web/images/svg/burger-menu.svg' %}
    <span class="mobile-menu-indicator hidden"></span>

    <nav class="mobile-menu">
        {% if is_login %}
            <h2 class="mobile-menu-header">
                {% include '@app/web/images/svg/user-profile.svg' %}
                {{ username }}
                {% include '@app/web/images/svg/menu/closed.svg' %}
            </h2>
            <span class="mobile-menu-amount"></span>
        {% else %}
            <h2 class="mobile-menu-header">
                {% block logoSection %}
                    {{ include('@component/Header/templates/logo.html.twig') }}
                {% endblock %}
                {% include '@app/web/images/svg/menu/closed.svg' %}
            </h2>
        {% endif %}


        <div class="mobile-menu-body">
            {{ include('@component/Header/Menu/templates/menu-top.html.twig') }}
            <div class="menu-display menu-display-product">
                {{ include('@component/Header/Menu/templates/menu-product.html.twig') }}
            </div>

            {# Internal Links #}
            {{ include('@component/Header/Menu/templates/menu-quicklinks.html.twig') }}

            {# Mobile menu footer #}
            {{ include('@component/Header/Menu/templates/menu-otherlinks.html.twig') }}
            
        </div>
    </nav>
</section>
