<div id="casino-option-lightbox" class="modal casino-option">
    <div class="modal-content casino-option-content">
    <p class="casino title">{{title}}</p>
        <div class="modal-body casino-option-body">
            <div class="casino-option-body-select">
                <a 
                    href="#" data-preferred-casino="casino"
                    class="casino-classic casino-option {{ preferred == 'casino' ? 'selected' : 'select-option-muted'}}"
                >
                    {% if app.lang == "ch" or app.lang == "sc" %}
                        <img src="{{ asset('images/dafabet_logo_chinese.png') }}" alt="{{ logo_title }}">
                    {% else %}
                        <img src="{{ asset('images/dafabet_logo.png') }}" alt="{{ logo_title }}">
                    {% endif %}
                    <p>Casino Classic</p>
                    <p class="in-maintenance">Under Maintenance</p>
                </a>
                <a 
                    href="#" data-preferred-casino="casino_gold" 
                    class="casino-gold casino-option {{ preferred == 'casino_gold' ? 'selected' : 'select-option-muted'}}"
                >
                    {% if app.lang == "ch" or app.lang == "sc" %}
                        <img src="{{ asset('images/dafabet_gold_logo_sc.png') }}" alt="{{ logo_title }}">
                    {% else %}
                        <img src="{{ asset('images/dafabet_gold_logo.png') }}" alt="{{ logo_title }}">
                    {% endif %}
                    <p>Casino Gold</p>
                    <p class="in-maintenance">Under Maintenance</p>
                </a>
            </div>
        </div>
    {% include '@app/web/images/svg/announcement/announcement-closed.svg' %}
    </div>
</div>
