<div class="marketing-space-top-leaderboard" data-top-leaderboard-id="tl-{{ topLeadeboardData.id }}">
    {{#if topLeadeboardData.banner_url }}
    <a href="{{ topLeadeboardData.banner_url }}" target="{{ topLeadeboardData.target }}">
    {{/if}}
        <picture>
            <source srcset="{{ topLeadeboardData.banner_img_landscape }}" media="(min-width: 40em) and (orientation: landscape)">
            <img src="{{ topLeadeboardData.banner_img_portrait }}" alt="{{ topLeadeboardData.banner_alt }}" class="w-100">
        </picture>
    {{#if topLeadeboardData.banner_url }}
    </a>
    {{/if}}
    <button class="marketing-space-close-btn btn-dismiss">×</button>
</div>
