{{#if contactUstext}}
<p class="download-title">{{ contactUstext }}</p>
{{/if}}
<ul class="home-contact-main clearfix">
    {{#each contactUsData.contact_menu}}

    <li class="home-contact-list">
        <a href="{{ this.uri }}"
            class="{{ this.attributes.class }} {{ this.attributes.svg }} {{this.attributes.device}} download-box"
            data-router="true" data-router-refresh="main" target="{{ this.attributes.target }}">

            <svg viewBox="0 0 20 20">
                <use xlink:href="#{{ this.attributes.svg }}" />
            </svg>
            <span>{{ this.title }}</span>
        </a>
    </li>

    {{/each}}
</ul>
