<div class="page-title">
        <h1 class="page-title-text">{{ title }}</h1>
    <a href="#" onclick="history.back();" class="page-title-back-button">
        {% include '@app/web/images/svg/arrow.svg' %}
    </a>
</div>
    <a href="{{ field_banner_link }}" target="{{field_banner_link_target}}">
        <img src="{{ field_banner_image }}" alt="" class="w-100">
    </a>

<div class="container page-promotion-inner">
    {{ field_body|raw }}
</div>
{% if sticky_enabled_1 %}
<div class="page-promotion-inner page-promotion-sticky">
    <a href="{{ field_sticky_url }}" target="{{field_sticky_link_target}}" class="btn btn-medium page-promotion-sticky-{{ sticky_enabled_full ? 'full' : 'half' }}" style="background-color: {{ field_sticky_background_color }}; color: {{ field_sticky_text_color }};">
    {{ field_sticky_url_text }}
    </a>
</div>
{% endif %}
{% if sticky_enabled_2 %}
<div class="page-promotion-inner page-promotion-sticky">
    <a href="{{ field_sticky_url2 }}" target="{{field_sticky_link_target2}}" class="btn btn-medium page-promotion-sticky-{{ sticky_enabled_full ? 'full' : 'half' }}" style="background-color: {{ field_sticky_background_color2 }}; color: {{ field_sticky_text_color2 }};">
    {{ field_sticky_url_text2 }}
    </a>
</div>
{% endif %}