<div class="page-title">
    <h1 class="page-title-text">{{ node.title.0.value }}</h1>
    <a href="#" class="page-title-back-button" id="refreshButton">
        <svg viewBox="0 30 24 44.999">
            <use xlink:href="#arrow" />
        </svg>
    </a>
</div>
{%- set gameWidget -%}
    {% include '@component/Node/Promotions/templates/multiple-games.html.twig' %}
{%- endset -%}

{% block css %}
    <link href="{{ asset('css/promotions.css') }}" rel="stylesheet">
{% endblock %}

<div class="promotions-body-banner {{ chickpea_enabled ? 'chickpea-lightbox-enabled' : '' }}">
    {% if node.field_banner_game_launch.0.field_product.0.value %}
        {% include '@component/Node/Promotions/templates/single-game.html.twig' %}
    {% else %}
        {% if chickpea_enabled %}
            {% include '@component/Node/Promotions/templates/promotion-chickpea.html.twig' %}
        {% else %}
            {% include '@component/Node/Promotions/templates/promotion-banner.html.twig' %}
        {% endif %}
    {% endif %}
</div>

<div class="container page-promotion-inner">
    {% set content = node_body.0.value %}
    {% set content = content|replace({'[[promotion_game_widget]]': gameWidget }) %}
    {{ content|raw }}
</div>

{% if node_enable_sticky.0.value or node_enable_sticky2.0.value %}
<ul class="page-promotion-inner page-promotion-sticky">
{% set sticky_enabled_half = (node_enable_sticky.0.value and node_enable_sticky2.0.value) %}
{% if node_enable_sticky.0.value %}
    <li class="{{ sticky_enabled_half ? 'page-promotion-sticky-half' : 'page-promotion-sticky-full' }}">
        <a
            href="{{ url(node_sticky_url.0.uri) }}"
            target="{{ node_sticky_link_target.0.value }}"
            class="sticky-box btn btn-medium page-promotion-sticky-{{ sticky_enabled_half ? 'half' : 'full' }}"
            style="background-color: {{ node_sticky_background.0.color }}; color: {{ node_sticky_text_color.0.color }};"

            data-router="true"
            data-router-refresh="main"
        >
            {{ node_sticky_url.0.title }}
        </a>
    </li>
{% endif %}
{% if node_enable_sticky2.0.value %}
    <li class="{{ sticky_enabled_half ? 'page-promotion-sticky-half' : 'page-promotion-sticky-full' }}">
        <a
            href="{{ url(node_sticky_url2.0.uri) }}"
            target="{{ node_sticky_link_target2.0.value }}"
            class="sticky-box btn btn-medium {{ sticky_enabled_half ? 'page-promotion-sticky-half' : 'page-promotion-sticky-full' }}"
            style="background-color: {{ node_sticky_background2.0.color }}; color: {{ node_sticky_text_color2.0.color }};"

            data-router="true"
            data-router-refresh="main"
        >
            {{ node_sticky_url2.0.title }}
        </a>
    </li>
{% endif %}
</ul>
{% endif %}
