{% set liClass = (authenticated and transfer_url) ? 'sft-item' : 'sft-item half' %}
<div id="search-filter-transfer-container" class="sft-list clearfix">
    <ul class="sft-list-menu">
        <li class="{{ liClass }} sft-list-menu-item">
            <a href="#" class="sft-item-links search-tab">
                {# {{ title }} #}
                Providers
            </a>
        </li>
        <li class="{{ liClass }} sft-list-menu-item">
            <a href="#" class="sft-item-links games-filter main">
                {# {{ filter_title }} #}
                Featured
            </a>
        </li>
        {% if authenticated and transfer_url %}
        <li class="{{ liClass }} sft-list-menu-item sft-list-menu-transfer">
            <a href="{{ url(transfer_url) }}" class="sft-item-links games-transfer">
                {{ transfer_title }}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
