{% set liClass = (authenticated and transfer_url) ? 'sft-item' : 'sft-item half' %}
<div id="search-filter-transfer-container" class="sft-list clearfix">
    <ul class="sft-list-menu">
        {% for tab in tabs %}
        <li class="{{ liClass }} sft-list-menu-item">
            <a href="#{{ tab.field_alias[0].value }}" class="sft-item-links tab-{{ tab.field_alias[0].value }}">
              {{ tab.field_label[0].value }}
            </a>
        </li>
        {% endfor %}
        {% if authenticated and transfer_url %}
        <li class="{{ liClass }} sft-list-menu-item sft-list-menu-transfer">
            <a href="{{ url(transfer_url) }}" class="sft-item-links games-transfer">
                {{ transfer_title }}
            </a>
        </li>
        {% endif %}
    </ul>
</div>
