{{#each filters}}
<li>
    <a
        href="#{{this.filter_id}}"
        class="product-link filter-{{this.filter_id}}"
        data-product-filter-id="{{this.filter_id}}"
        data-product-filter-name="{{this.filter_name}}"
    >{{this.filter_name}}</a>
</li>
{{/each}}
