<section class="xlider" id="main-slider">
    {% for slide in slides %} 
        {% set show_both = slide['field_log_in_state']|length > 1 %}
        {% set product_ribbon_tag = (slide['field_ribbon_product_label']['0']['value']) 
                ? slide['field_ribbon_product_label']['0']['value']  
                : slide['field_product']['0']['name'][0]['value'] %}
        {% set bg_color = slide['field_ribbon_background_color']['0']['color'] %}
        {% set text_color = slide['field_ribbon_label_color']['0']['color'] %}

        {% if ((show_both or slide['field_log_in_state'][0]['value'] == '0') and not is_login) %}
            <div class="xlide-item">
                <a 
                    href="{{ url(slide['field_banner_link'][0]['uri']) }}" 
                    target="{{ slide['field_banner_link_target'][0]['value']}}"
                    {% if slide['field_slider_game_code'][0]['value'] %}
                        class = "game-list"
                    {% endif %}
                    data-game-provider="{{ slide['field_slider_game_provider'][0]['value']}}"
                    data-game-code="{{ slide['field_slider_game_code'][0]['value']}}"
                    data-game-target="{{ slide['field_banner_link_target'][0]['value']}}"
                    data-game-title="{{ slide['field_title'][0]['value']}}"
                >
                    <img 
                        src="{{ asset(slide['field_banner_image'][0]['url'], product) }}" 
                        alt="{{ slide['field_banner_image'][0]['alt']}}" 
                        class="w-100"
                    >
                    <div class="xlider-blurb {{slide['field_content_position'][0]['value'] }} {{enable_transition_slider }}">
                        {{ include('@component/Main/Lobby/Slider/templates/product-ribbon.html.twig') }}
                        {{ slide['field_banner_blurb'][0]['value']|raw }}
                    </div>
                </a>
            </div>

        {% elseif ((show_both or slide['field_log_in_state'][0]['value'] == '1') and is_login) %}
            <div class="xlide-item">
                <a 
                    href="{{ url(slide['field_post_banner_link'][0]['uri']) }}" 
                    target="{{ slide['field_post_banner_link_target'][0]['value']}}"
                    data-game-provider="{{ slide['field_slider_game_provider'][0]['value']}}"
                    data-game-code="{{ slide['field_slider_game_code'][0]['value']}}"
                    data-game-target="{{ slide['field_post_banner_link_target'][0]['value']}}"
                    data-game-title="{{ slide['field_title'][0]['value']}}"
                    data-game-launch="true"
                >
                    <img 
                        src="{{ asset(slide['field_post_banner_image'][0]['url'], product) }}" 
                        alt="{{ asset(slide['field_post_banner_image'][0]['alt'], product) }}" 
                        class="w-100"
                    >
                    <div class="xlider-blurb {{slide['field_post_content_position'][0]['value'] }} {{enable_transition_slider }}">
                        {{ include('@component/Main/Lobby/Slider/templates/product-ribbon.html.twig') }}
                        {{ slide['field_post_banner_blurb'][0]['value']|raw }}
                    </div>
                </a>
            </div>
        {% endif %}
    {% endfor %}
</section>
