{% extends '@base/form/standard.html.twig' %}
{%- block label_markup -%}
    <div class="field_status_icon"></div>
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    <div class="field_label_text">
        {{ translation_domain is same as(false) ? label|raw : label|trans({}, translation_domain)|raw }}
    </div>
    <div class="field_label_icon"></div>
    </label>
{%- endblock label_markup -%}

{%- block form_row -%}
    {% if form.vars.block_prefixes.1 == 'fieldset' %}
        {{- form_widget(form) -}}
    {% else %}

        {% if form.vars.block_prefixes.1 == 'markup' %}
            <div class="blurb {{ id }} {{attr.class}}"> 
        {% else %}
            <div class="form-item {{ id }}">
        {% endif %}
            {{- form_label(form) -}}
            {{- form_errors(form) -}}
            {{- form_widget(form) -}}
        </div>

    {% endif %}
{%- endblock form_row -%}