{% set links = {
    en: 'Links',
    eu: 'Links',
    sc: '链接',
    ch: '鏈接',
    th: 'ลิงก์',
    vn: 'ĐƯỜNG DẪN',
    id: 'Links',
    jp: 'リンク',
    kr: '링크',
    in: 'Links',
    gr: 'ΣΥΝΔΕΣΜΟΙ',
    pl: 'Links',
} %}

{% set logout = {
    en: 'Logout',
    eu: 'Logout',
    sc: '退出登录',
    ch: '退出登錄',
    th: 'ออกจากระบบ',
    vn: 'Đăng Xuất',
    id: 'Logout',
    jp: 'ログアウト',
    kr: '로그아웃',
    in: 'Logout',
    gr: 'Αποσύνδεση',
    pl: 'Wyloguj',
} %}

{% set modal = {
    'quicklinks-notification': '#pushnxLightbox',
} %}


{% if quicklinks %}
<h3 class="mobile-menu-internal-header"><span>{{ links[app.lang] }}</span></h3>
<div class="menu-display menu-display-internal">
    <ul class="icon-thumbnail clearfix">
        {% for menu in quicklinks %}
            {% if (not is_login and (('quicklinks-notification' in menu.attributes.class) or ('quicklinks-change-password' in menu.attributes.class))) %}
            {% elseif ((not is_login or (is_login and not is_provisioned)) and 
            'quicklinks-settings' in menu.attributes.class) %}
            {% else %}
            <li class="icon-thumbnail-item icon-thumbnail-quicklinks">
                <a href="{{ url(menu.uri) }}" class="icon-thumbnail-link menu-item-internal {{ menu.attributes.class }}"
                target="{{ menu.attributes.target }}"
                data-router="true"
                data-router-refresh="main"
                data-router-active-link-class="active"
                >

                {% if 'quicklinks-change-password' in menu.attributes.class %}
                    <svg viewBox="0 0 35.74 46.05">
                {% else %}
                    <svg viewBox="0 0 32 20">
                {% endif %}
                        <use xlink:href="#{{ menu.attributes.svg }}" />
                    </svg>

                <span class="icon-thumbnail-label">{{ menu.title }}</span>

                {% if 'announcement-trigger' in menu.attributes.class %}
                    <span id="announcement-count" class="icon-balloon-counter">0</span>
                {% endif %}

                {% if 'notification-trigger' in menu.attributes.class %}
                    <span id="notification-count" class="icon-balloon-counter hidden">0</span>
                {% endif %}

                </a>
            </li>
            {% endif %} 
        {% endfor %}
        {% if is_login %}
            <li class="icon-thumbnail-item icon-thumbnail-quicklinks">
                <a href="#" class="icon-thumbnail-link menu-item-internal btn-logout quicklinks-logout">
                <svg viewBox="0 0 32 20">
                    <use xlink:href="#quicklinks-logout" />
                </svg>
                    <span class="icon-thumbnail-label">{{ logout[app.lang] }}</span>
                </a>
            </li>
        {% endif %}
    </ul>
</div>
{% endif %}
