{% set liClass = (authenticated and transfer_url) ? 'spt-item' : 'spt-item half' %}
<div id="search-provider-transfer-container" class="spt-list clearfix">
    <ul class="spt-list-menu">
        <li class="{{ liClass }} spt-list-menu-item">
            <a href="#" class="spt-item-links search-tab">
                {{ search_tab }}
            </a>
        </li>
        <li class="{{ liClass }} spt-list-menu-item">
            <a href="#" class="spt-item-links games-provider main">
                {{ provider_tab }}
            </a>
        </li>
        {% if authenticated and transfer_url %}
            <li class="{{ liClass }} spt-list-menu-item spt-list-menu-transfer">
                <a href="{{ url(transfer_url) }}" class="spt-item-links games-transfer">
                    {{ transfer_title }}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
