{% set logoUri = header.logo_uri is defined ? header.logo_uri : url('/') %}
{% if app.product_resolver.getProduct == "mobile-soda-casino" %}
    {% set logoUri = url('/soda-casino') %}
{% endif %}

<a
    href="{{ logoUri }}"
    hreflang="{{ app.lang }}"
    rel="{{ logo_title }}"
    title="{{ logo_title }}"

    data-router="true"
    data-router-refresh='["main", "tab_navigation"]'
>
    {{ include('@component/Header/templates/logo-image.html.twig') }}
</a>
