{% set logoUri = header.logo_uri is defined ? header.logo_uri : url('/') %}

<a href="{{ logoUri }}" hreflang="{{ app.lang }}" rel="{{ header.logo_title }}" title="{{ header.logo_title }}">
    {{ include('@component/Header/Templates/logo-image.html.twig') }}
</a>
