<div class="tab">
    <ul class="tab-menu">
        <li class="active"><a href="{{ password_link }}">{{ password_tab_menu }}</a></li>
        <li><a href="{{ username_link }}">{{ username_tab_menu }}</a></li>
    </ul>
    <div class="container">
        <div class="tab-content" id="forgot-password-content">
            {% form_theme formForgotPassword '@base/form/standard.html.twig' %}
            {{ form_start(formForgotPassword, {'attr': {'class': 'pure-form forgot-password-form'}}) }}
            {{ form_end(formForgotPassword) }}

            <div class="confirmation-message mt-25 mb-20 hidden">
                {{ password_success_message|raw }}
            </div>
        </div>

        <div class="tab-content" id="forgot-username-content">
            {% form_theme formForgotUsername '@base/form/standard.html.twig' %}
            {{ form_start(formForgotUsername, {'attr': {'class': 'pure-form forgot-username-form'}}) }}
            {{ form_end(formForgotUsername) }}

            <div class="confirmation-message mt-25 mb-20 hidden">
                {{ username_success_message|raw }}
            </div>
        </div>
    </div>
</div>
