{% if sponsors %}
<div class="sponsors clearfix">
    {% if entrypage_config.parnerts_and_sponsor_title_text %}
        <p class="sponsors-title">{{ entrypage_config.parnerts_and_sponsor_title_text }}</p>
    {% endif %}
    <ul class="sponsors-lists">
        {% for sponsor in sponsors %}
            {% if sponsor.field_sponsor_enable[0].value %}
            <li class="{{ sponsor.field_sponsor_svg_class[0].value }}">
                {% if sponsor.field_sponsor_svg_class[0].value %}
                    {% if sponsor.field_sponsor_link[0].uri %}
                        <a href="{{ url(sponsor.field_sponsor_link[0].uri) }}" target="{{ sponsor.field_link_target[0].value }}">
                    {% endif %}
                    {% if sponsor.field_sponsor_image[0].url != '' %}
                        <svg viewBox="0 0 60 60">
                            <image xlink:href="{{sponsor.field_sponsor_image[0].url}}" width="60px" height="60px" />    
                        </svg>
                    {% endif %}
                    <span class="hidden">{{ sponsor.field_title[0].value }}</span>
                    {% if sponsor.field_sponsor_link[0].uri %}
                        </a>
                    {% endif %}
                {% endif %}
            </li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
{% endif %}