<div id="announcement-lightbox" class="modal announcement">
    <div class="modal-content login-content">
        <div class="modal-body">
            {{title}}
            {% if announcements|length %}
            <ul>
                {% for announcement in announcements %}
                    {% if announcement.show %}
                    <li class = "announcement-item"  data="nid-{{ announcement.nid }}">
                        <strong class="text-red">{{ announcement.name }}</strong>
                        {{ announcement.text|raw }}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <p>{{ default_message }}</p>
            {% endif %}
        </div>
    </div>
</div>
