<div class="header-dafabet header-{{ app.product_resolver.getProduct }} clearfix">
    {{ include('@component/Header/templates/coin-logo-image.html.twig') }}
    {% if is_login %}
        <div class="container clearfix hidden-desktop">
            {{ include('@responsive/components/dafacoin-menu/menu-mobile.html.twig') }}
        </div>
    {% else %}
        <span class="mobile-action-button mobile-action-button-{{ app.lang }}">
            <a href="#" class="login-trigger mobile-action-button-login-now">
            {{ mobile_login_reg }}
            </a>
            <a href="{{ url(join_now_link) }}" class="join-btn btn btn-yellow btn-small btn-mobile-login"
                data-join-url="{{ url(join_now_link) }}">
                {{ login_join_now_text }}
            </a>
        </span>
    {% endif %}

    {{ widget('header_login') }}
</div>
<span class="hidden">
    {% include '@app/web/images/svg/header/dafabet-header.svg' ignore missing %}
</span>

{% if is_login %}
     {{ include('@responsive/components/dafacoin-menu/cashier-balance.html.twig') }}

{% endif %}
