<div class="header-dafabet header-{{ app.product_resolver.getProduct }} clearfix">
    {{ include('@component/Header/templates/coin-logo-image.html.twig') }}
    {% if is_login %}
        <div class="container clearfix hidden-desktop">
            {{ include('@responsive/components/dafacoin-menu/menu-mobile.html.twig') }}
        </div>
        <div class="tmp_balance_refresh_placeholder"></div>
    {% else %}
        <span class="mobile-action-button mobile-action-button-{{ app.lang }}">
            <a href="#" class="login-trigger mobile-action-button-login-now">
            {{ mobile_login_reg }}
            </a>
            <a href="{{ url(join_now_link) }}" class="join-btn btn btn-yellow btn-small btn-mobile-login"
                data-join-url="{{ url(join_now_link) }}">
                {{ login_join_now_text }}
            </a>
        </span>
    {% endif %}

    {{ widget('header_login') }}
</div>
<span class="hidden">
    {% include '@app/web/images/svg/header/dafabet-header.svg' ignore missing %}
</span>

{% if is_login %}
 <div id="cashier-balance">
        <div id="balance-menu-div" class="hidden">
            <div id="cashier-menu-top">
                <div id="cashier-menu-total" class="cashier-menu-yellow">{{ header.dafacoin_menu.total_balance_label }}
                    &nbsp;&nbsp; <div id="inner-total-balance" style="display: inline-block">0.00</div>
                </div>
                <div id="cashier-menu-msg" class="cashier-information-text">{{ header.dafacoin_menu.priority_switch_message }}</div>
            </div>
            <div id="cashier-menu-buttons">
                <button id="balance-save-btn" class="balance-btn" disabled>{{ header.dafacoin_menu.save_button_label }}</button>
                <button id="balance-close-btn" class="balance-btn">{{ header.dafacoin_menu.close_button_label }}</button>
                <div style="clear: both"></div>
            </div>
            <div id="balance-menu-shade"></div>
        </div>
        <div id="dafacoin-overlay" class="hidden"></div>
    </div>

    <div id="dafacoin-warning-overlay" class="hidden">
        <div class="hidden" id="dafacoin-warning">
            <div>
                <p>{{ header.dafacoin_menu.unsaved_changes_message }}</p>
                <button id="popup-yes-btn" class="popup-btn">{{ header.dafacoin_menu.yes_button_label }}</button>
                <button id="popup-no-btn" class="popup-btn">{{ header.dafacoin_menu.no_button_label }}</button>
            </div>
        </div>
    </div>

    <div id="dafacoin-saved-overlay" class="hidden">
        <div id="dafacoin-saved">
            <div id="dafacoin-saved-close-btn">x</div>
            <div style="clear: both"></div>
            <div class="dafacoin-saved-text">
                <svg class="dafacoin-menu-ok" width="17" height="17" viewBox="0 0 17 17">
                    <use xlink:href="{{ asset('images/ok-icon.svg') }}#ok-icon" xmlns:xlink="http://www.w3.org/1999/xlink"></use>
                </svg>
                {{ header.dafacoin_menu.saved_popup_message }}
            </div>
        </div>
    </div>


{% endif %}
