<header class="header">
    <div class="container clearfix">
        {% block logoSection %}
            {{ include('@component/Header/templates/logo.html.twig') }}
        {% endblock %}

        {% if is_login %}
            <div class="account-balance">
                <a href="#" target="_blank">
                    {% include '@app/web/images/svg/amount-balance.svg' %}
                    <span class="account-balance-amount"></span>
                </a>
            </div>
        {% else %}
            <span class="mobile-action-button">
                <a href="#login-lightbox"  class="modal-trigger btn btn-yellow btn-small btn-mobile-login">
                    {{ login_bottom_label }}
                </a>
            </span>

            {{ include('@component/Header/templates/login-modal.html.twig') }}
        {% endif %}

        {{ widget('header_menu') }}
        {{ widget('balance') }}
    </div>
</header>
