<div class="game-listing">
    {{#each games}}
        <div class="game-listing-item {{this.size}}">
            {{#if this.ribbon}}
                <div class="game-ribbon"
                    style="background: {{this.ribbon.background}}; color: {{this.ribbon.color}};"
                >
                    {{this.ribbon.name}}
                </div>
            {{/if}}
            <svg viewBox="0 0 86 86" class="game-favorite">
                <path d="M45.49 4.38l10.62 21.53A3.79 3.79 0 0 0 59 28l23.76 3.45a2.78 2.78 0 0 1 1.54 4.73L67.06 52.91A3.79 3.79 0 0 0 66 56.26l4 23.66a2.77 2.77 0 0 1-4 2.92L44.76 71.67a3.78 3.78 0 0 0-3.52 0L20 82.84a2.77 2.77 0 0 1-4-2.92l4-23.66a3.79 3.79 0 0 0-1.09-3.35L1.75 36.16a2.78 2.78 0 0 1 1.54-4.73L27.05 28a3.79 3.79 0 0 0 2.84-2.07L40.51 4.38a2.78 2.78 0 0 1 4.98 0z"/>
            </svg>
            <img class="w-100" src="{{this.image.url}}" alt="{{this.image.alt}}">
        </div>
    {{/each}}
</div>
