{% set liClass = (authenticated) ? 'sft-item' : 'sft-item half' %}
<div id="search-filter-transfer-container" class="sft-list clearfix">
    <ul class="sft-list-menu">
        <li class="{{ liClass }} sft-list-menu-item">
            <a href="#" class="sft-item-links search-tab">
                {{ title }}
                {% include '@app/web/images/svg/lobby/search.svg' %}
            </a>
        </li>
        <li class="{{ liClass }} sft-list-menu-item">
            <a href="#" class="sft-item-links games-filter main">
                {{ filter_title }}
                {% include '@app/web/images/svg/lobby/filter.svg' %}
            </a>
        </li>
        {% if authenticated %}
            <li class="{{ liClass }} sft-list-menu-item sft-list-menu-transfer">
                <a href="{{ url(transfer_url) }}" class="sft-item-links games-transfer">
                    {{ transfer_title }}
                    {% include '@app/web/images/svg/lobby/transfer.svg' %}
                </a>
            </li>
        {% endif %}
    </ul>
</div>
