<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>
    {% block seo %}{% endblock %}
    {% block marketing %}{% endblock %}
    {% block css %}{% endblock %}
</head>
<body
    class="{{ app.lang }}"

    data-language="{{ app.lang }}"
    data-route={{ app.router_request.uri.path }}
    data-product={{ app.product_resolver.getProduct }}

    style="background: #000; visibility: hidden;"
>
    {% block header %}{% endblock header %}

    <main class="main">
        {% block body %}{% endblock body %}
    </main>

    {% block footer %}{% endblock footer %}

    {% block script %}
        {{ module_scripts() }}
    {% endblock %}
</body>
</html>
