{% extends '@site/base.html.twig' %}

{% block seo %}
    {{ widget('seo') }}
{% endblock %}

{% block marketing_header %}
    {{ widget('marketing', {'position': 'header'}) }}
{% endblock %}

{% block script_header %}
    <script async src="{{ asset('js/app.js') }}"></script>
{% endblock %}

{% block css %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
{{ widget('meta') }}
<div class="game-window-wrapper header-post-login">
    {{ include('@component/Header/templates/logo-image.html.twig') }}
    {{ widget('header') }}
</div>
{% endblock header %}

{% block body %}
    {% block main %}
    {{ widget('main') }}
    {% endblock main %}
{% endblock body %}

{% block script %}
    {{ parent() }}
{% endblock %}

{% block marketing_footer %}
    {{ widget('marketing', {'position': 'footer'}) }}
{% endblock %}
