{% extends '@site/base.html.twig' %}

{% block seo %}
    {{ widget('seo') }}
{% endblock %}

{% block marketing %}
    {{ widget('marketing') }}
{% endblock %}

{% block css %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block marketing_space %}
    {{ widget('marketing_space') }}
{% endblock %}

{% block header %}
    {{ widget('meta') }}
    {{ widget('header') }}
    {{ widget('menu') }}
    {{ widget('announcement') }}
{% endblock header %}

{% block body %}
    {% block main %}
        {{ widget('tab_navigation') }}
        {{ widget('main') }}
    {% endblock main %}

    {{ widget('language') }}
    {{ widget('push_notification') }}
    {{ widget('casino_option') }}
{% endblock body %}

{% block footer %}
    {{ widget('footer') }}
    <div class="profiler"></div>
{% endblock footer %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
