{% extends '@site/base.html.twig' %}

{% block seo %}
    {{ widget('seo') }}
{% endblock %}

{% block marketing %}
    {{ widget('marketing') }}
{% endblock %}

{% block css %}
    <link href="{{ asset('app.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {{ widget('header') }}
    {{ widget('menu') }}
    {{ widget('announcement') }}
{% endblock header %}

{% block body %}
    {% block main %}
        {{ widget('main') }}
    {% endblock main %}

    {{ widget('language') }}
    {{ widget('push_notification') }}
    {{ widget('casino_option') }}
{% endblock body %}

{% block footer %}
    {{ widget('footer') }}

    <div class="profiler"></div>

    <span class="hidden">
        {% include '@app/web/images/svg/products/product-icons.svg' ignore missing %}
        {% include '@app/web/images/svg/quicklinks/quicklinks-icons.svg' ignore missing %}
        {% include '@app/web/images/svg/dafabet-sprite.svg' ignore missing %}
        {% include '@app/web/images/svg/downloads/download-icons.svg' ignore missing %}
        {% include '@app/web/images/svg/footer/footer-icons.svg' ignore missing %}
        {% include '@app/web/images/svg/rounded.svg' ignore missing %}
    </span>

    {% block backtotop %}
        {{ widget('backtotop') }}
    {% endblock backtotop %}

{% endblock footer %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('app.js') }}"></script>
{% endblock %}
