{% extends '@site/base.html.twig' %}

{% block seo %}
    {{ widget('seo') }}
{% endblock %}

{% block marketing %}
    {{ widget('marketing') }}
{% endblock %}

{% block css %}
    <link href="{{ asset('css/app.css') }}" rel="stylesheet">
{% endblock %}

{% block marketing_space %}
    {{ widget('marketing_space') }}
{% endblock %}

{% block header %}
    {{ widget('meta') }}
    {{ widget('header') }}
    {{ widget('menu') }}
    {{ widget('announcement') }}
{% endblock header %}

{% block body %}
    {% block main %}
        {{ ucp_content | raw }}
    {% endblock main %}
{% endblock body %}

{% block footer %}
    {{ widget('footer') }}
    {% block cookie_notification %}
        {{ widget('cookie_notification') }}
    {% endblock cookie_notification %}
    <div class="profiler"></div>
    {% block backtotop %}
        {{ widget('backtotop') }}
    {% endblock backtotop %}
{% endblock footer %}

{% block script %}
    {{ parent() }}
    <script src="{{ asset('js/app.js') }}"></script>
{% endblock %}
