<div id="announcement-lightbox" class="modal announcement">
    <div class="modal-content announcement-content">
        <p class="announcement-title">{{title}}</p>
        <div class="modal-body announcement-body">
            {% if announcement_count %}
            <ul>
                {% for announcement in announcements %}
                    {% if announcement.show %}
                    <li class="announcement-item"  data="{{ announcement.nid }}">
                        <strong class="text-red announcement-item-title">{{ announcement.name }}</strong>
                        {{ announcement.text|raw }}
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>
            {% else %}
                <ul>
                    <li class="text-red">{{ default_message }}</li>
                </ul>
            {% endif %}
            {% include '@app/web/images/svg/announcement/announcement-closed.svg' %}
        </div>
    </div>
</div>
