
<div class="page-title promotions">
    <h1 class="page-title-text promotions-title">{{ title }}</h1>
    <a href="#" class="page-title-back-button">
        {% include '@app/web/images/svg/arrow.svg' %}
    </a>
    <div class="dropdown-menu">
        <a
            href="#" class="dropdown-trigger promotion-link active-filter"
            data-current-filter=""
        >
            <span class="current-filter"></span>
            {% include '@app/web/images/svg/arrow.svg' %}
        </a>

        <ul>
            <li class="title">{{ filter_label }}</li>
            {% for promotions_filter in promotions_filters %}
            <li>
                <a
                    href="#{{ promotions_filter['field_product_filter_id'][0]['value'] }}"
                    class="product-link filter-{{ promotions_filter['field_product_filter_id'][0]['value'] }}"
                    data-product-filter-id="{{ promotions_filter['field_product_filter_id'][0]['value'] }}"
                    data-product-filter-name="{{ promotions_filter['name'][0]['value'] }}"
                >
                    {{ promotions_filter['name'][0]['value'] }}
                </a>
            </li>
            {% endfor %}
        </ul>

    </div>
</div>

<div class="promotions-loader">
    <section class="promotions-body hidden">
        
    </section>
    <div class="sk-fading-circle mobile-promotions-loader">
        <div class="sk-fading-circle">
            <div class="sk-circle1 sk-circle"></div>
            <div class="sk-circle2 sk-circle"></div>
            <div class="sk-circle3 sk-circle"></div>
            <div class="sk-circle4 sk-circle"></div>
            <div class="sk-circle5 sk-circle"></div>
            <div class="sk-circle6 sk-circle"></div>
            <div class="sk-circle7 sk-circle"></div>
            <div class="sk-circle8 sk-circle"></div>
            <div class="sk-circle9 sk-circle"></div>
            <div class="sk-circle10 sk-circle"></div>
            <div class="sk-circle11 sk-circle"></div>
            <div class="sk-circle12 sk-circle"></div>
        </div>
    </div>
</div>
