{{#if data.product_ribbon_tag}}
<span {{#if data.default_ribbon}} style="background-color: {{ data.bg_color }}; color: {{ data.text_color }}" {{else}}
    class="tag-{{ data.product }}" {{/if}}>
    <p>{{ data.product_ribbon_tag }}</p>
</span>
{{/if}}
