{{#each sliderData.slides}}
    {{#if this.published }}
        <div class="xlide-item">
            <a
                href="{{ this.banner_url }}"
                target="{{ this.banner_target }}"
                {{#condition this.game_code "||" this.forced_game_launch}}
                    class = "game-list"
                    {{#if ../sliderData.is_login }}
                        data-game-launch="true"
                    {{/if}}
                {{/if}}
                data-game-provider="{{ this.game_provider }}"
                data-game-code="{{ this.game_code }}"
                data-game-target="{{ this.banner_target }}"
                data-game-title="{{ this.field_title }}"
                data-game-platform="{{ this.game_platform }}"
                data-game-subprovider="{{this.game_subprovider}}"
                data-game-loader="{{this.use_game_loader}}"
                {{#if this.game_subprovider }}
                    data-game-subprovider="{{this.game_subprovider}}"
                {{/if}}
                {{#if this.provider_maintenance }}
                    data-game-maintenance="true"
                {{/if}}
            >
            <picture>
                <source srcset="{{ this.banner_img_landscape }}" media="(min-width: 40em) and (orientation: landscape)">
                <img
                    src="{{ this.banner_img }}"
                    alt="{{ this.banner_alt }}"
                    class="w-100"
                >
            </picture>
                <div class="xlider-blurb {{ this.banner_pos }} {{../sliderData.enable_transition_slider }}">
                {{#if this.product_ribbon_tag}}
                    <div class="product-tag">
                        <div
                            {{#if this.default_ribbon}}
                                style="background-color: {{ this.bg_color }}; color: {{ this.text_color }}"
                            {{else}}
                                class="tag-{{ this.product }}"
                            {{/if}}
                        >
                            {{ this.product_ribbon_tag }}
                        </div>
                    </div>
                {{/if}}
                {{{ this.banner_blurb }}}
                </div>
            </a>
        </div>
    {{/if}}
{{/each}}
