{% set copy = {
	en: 'Copyright',
	eu: 'Copyright',
	sc: '版权',
	ch: '版權',
	th: 'ลิขสิทธิ์',
	vn: 'Bản Quyền',
	id: 'Hak cipta',
	jp: 'Copyright',
	kr: 'Copyright',
	in: 'Copyright',
	hi: 'कॉपीराइट',
	te: 'కాపీరైట్',
	gr: 'Πνευματική Ιδιοκτησία',
	pl: 'Copyright',
	es: 'Copyright',
	pt: 'Copyright',
	lo: 'ລິຂະສິດ',
	bu: 'မူပိုင္ခြင့္',
	km: 'រក្សាសិទ្ធិ©ឆ្នាំ',
	bn: 'Copyright',
	pk: 'Copyright',
	bg: 'কপিরাইট',
	bd: 'কপিরাইট',
} %}

{% set iam = {
	lo: 'ຂ້າພະເຈົ້າ',
} %}

{% set all_rights_reserved = {
	en: 'All Rights Reserved',
	eu: 'All Rights Reserved',
	sc: '版权所有',
	ch: '版權所有',
	th: 'สงวนลิขสิทธิ์',
	vn: 'Tất Cả Các Quyền Được Bảo Hộ',
	id: 'Semua hak dilindungi',
	jp: 'All Rights Reserved',
	kr: 'All Rights Reserved',
	in: 'All Rights Reserved',
	hi: 'सभी अधिकार आरक्षित',
	te: 'అన్ని హక్కులూ ప్రత్యేకించుకోవడమైనది',
	gr: 'Όλα τα Δικαιώματα Κατοχυρωμένα',
	pl: 'Wszystkie prawa zastrzeżone',
	es: 'Todos los Derechos Reservados',
	pt: 'Todos os Direitos Reservados',
	lo: 'ຂ້າພະເຈົ້າລິຂະສິດ:',
	bu: 'အားလံုးေသာၾကိဳတင္ကာကြယ္ခြင့္',
	km: 'រក្សា​រ​សិទ្ធ​គ្រប់យ៉ាង',
	bn:'All Rights Reserved',
	pk:'All Rights Reserved',
	bg:'সকল অধিকার সংরক্ষিত',
	bd:'সকল অধিকার সংরক্ষিত',
} %}

<div class="copyright clear">
    <p class="container text-center">
    {% if use_cms_copyright %}
	    {{ copyright }}
	    &copy;
	    {{ now | date('Y') }}
	    | Dafabet |
	    {{ all_rights_cms }}
	{% else %}
		{{ copy[app.lang] }}
		&copy;
		{{ now | date('Y') }}
		| Dafabet |
		{{ all_rights_reserved[app.lang] }}
	{% endif %}
    </p>
</div>

