{% if downloads_menu %}
    <div class="grid grid-gap-10 app-download">
        {% set menuLength = (downloads_menu|length == 2) ? 'col-6' : 'col-4' %}
        {% for menu in downloads_menu %}
            <div class="{{ menuLength }}">
                <a
                    href="{{ url(menu.uri) }}"
                    class="{{ menu.attributes.class }}"
                    target="{{ menu.attributes.target }}"
                    data-router="true"
                    data-router-refresh="main"
                    >
                    {% include '@app/web/images/svg/products/'~menu.attributes.svg~'.svg' ignore missing %}
                    <span class="app-download-text">
                        <strong>{{ menu.title }}</strong>
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
{% endif %}
