<footer class="footer footer-{{ app.product_resolver.getProduct }}">
    <section class="footer-section">
        {{ include('@component/Footer/templates/sponsor.html.twig') }}
        {{ include('@responsive/components/footer-site-keyword.html.twig') }}
        {{ include('@responsive/components/footer-brand-ambassador.html.twig', { 'device' : 'mobile' }) }}
        {{ include('@responsive/components/footer-quicklinks-revamp.html.twig', {'device': 'mobile'}) }}
        {{ include('@responsive/components/footer-mobile-socials-revamp.html.twig', {'lazy_load': 'off'}) }}
        {{ include('@responsive/components/footer-mobile-partners-revamp.html.twig', {'lazy_load': 'off'}) }}
        {{ include('@component/Footer/templates/pt/gambling-restirction.html.twig') }}
    </section>
    {{ include('@component/Footer/templates/copyright.html.twig') }}
    {% if app.product_resolver.getProduct == "mobile-ptplus" and floatingFooter %}
        <div class="floating-section"></div>
    {% endif %}
</footer>