{% if sponsors %}
<div class="sponsors mb-20">
    {% for sponsor in sponsors %}
        <ul class="mb-0">
            {% for icon in sponsor.field_sponsors_row %}
                <li class="mb-10 desktop-mb-20">
                    <a href="{{ url(icon.field_mobile_sponsor_image_link.uri) }}" target="{{ icon.field_mobile_sponsor_link_target[0].value }}">
                        <picture>
                            <source media="(max-width: 767px)" srcset="{{ asset(icon.field_mobile_sponsor_image[0].url) }}">
                            <img src="{{ asset(icon.field_mobile_sponsor_image[0].url) }}" alt="">
                        </picture>
                    </a>
                </li>
            {% endfor %}
        </ul>
        <p class="sponsors-main-desc visible-mobile mt-5 mb-20 text-center text-16">
            {{ sponsor.field_sponsors_row_title[0].value }}
        </p>
    {% endfor %}
    <ul class="mb-0">
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_1_celtic.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_1_celtic.png') }}" alt="">
                </picture>
            </a>
        </li>
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_2_burnley.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_2_burnley.png') }}" alt="">
                </picture>
            </a>
        </li>
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_3_sunderland.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_3_sunderland.png') }}" alt="">
                </picture>
            </a>
        </li>
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_4_blackburn.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_4_blackburn.png') }}" alt="">
                </picture>
            </a>
        </li>
    </ul>

    <p class="sponsors-main-desc visible-mobile mt-5 mb-20 text-center text-16">
        Official Main Club Sponsors
    </p>

    <ul class="mb-10 mt-10">
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_5_leicester.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_5_leicester.png') }}" alt="">
                </picture>
            </a>
        </li>
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_6_wales.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_6_wales.png') }}" alt="">
                </picture>
            </a>
        </li>
        <li class="mb-10 desktop-mb-20">
            <a href="#" target="#">
                <picture>
                    <source media="(max-width: 767px)" srcset="{{ asset('images/sponsors/sponsor_mobile_7_master.png') }}">
                    <img src="{{ asset('images/sponsors/sponsor_tablet_7_master.png') }}" alt="">
                </picture>
            </a>
        </li>
    </ul>
</div> 
{% endif %}
