{% if downloads_menu %}
<div class="container mt-10">
    <div class="grid grid-gap-10 app-download">
        {% set menuLength = (downloads_menu|length == 2 or downloads_menu|length == 4) ? 'col-6 mb-10' : 'col-4  mb-10' %}
        {% for menu in downloads_menu %}
            <div class="{{ menuLength }}">
                <a
                    href="{{ url(menu.uri) }}"
                    class="{{ menu.attributes.class }} {{ menu.attributes.svg }} download-box"
                    target="{{ menu.attributes.target }}"

                    data-router="true"
                    data-router-refresh="main"
                >
                    <svg viewBox="0 0 20 20">
                      <use xlink:href="#{{ menu.attributes.svg }}" />
                    </svg>

                    <span class="app-download-text">
                        {{ menu.title }}
                    </span>
                </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}
