{{#condition downloadData.downloads_menu.length ">" 0}}
{{#if DownloadApptext}}
    <p class="download-title">{{ DownloadApptext }}</p>
{{/if}}
<ul class="app-download clearfix">
    {{#each downloadData.downloads_menu}}
        {{#condition @index "<" 4}}
            <li class="app-download-list {{ ../this.menuClass}}">
                <a href="{{ this.uri }}"
                class="{{ this.attributes.class }} {{ this.attributes.svg }} {{this.attributes.device}} download-box"
                data-router="true"
                data-router-refresh="main"
                target="{{ this.attributes.target }}"
                >
                    {{#if this.attributes.menuTag}}
                        <p class="app-download-list-new-tag">
                            {{{ this.attributes.menuTag }}}
                        </p>
                    {{/if}}
                    <svg viewBox="0 0 20 20">
                        <use xlink:href="#{{ this.attributes.svg }}" />
                    </svg>
                    <span>{{ this.title }}</span>
                </a>
            </li>
        {{/condition}}
    {{/each}}
</ul>
{{/condition}}
{{#condition downloadData.downloads_menu.length ">" 4}}
    <dl class="ckeditor-accordion">
        <dt data-transition-top="true" class="swap-text" data-text-original="{{ allApptext }}" data-text-swap="{{ viewLesstext }}">{{ allApptext }}</dt>
        <dd>
            <ul class="app-download-accordion clearfix">
            {{#each downloadData.downloads_menu}}
                {{#condition @index ">" 3}}
                <li class="app-download-list {{ ../this.menuClassMore}}">
                    <a href="{{ this.uri }}"
                    class="{{ this.attributes.class }} {{ this.attributes.svg }} {{this.attributes.device}} download-box"
                    target="{{ this.attributes.target }}"
                    data-router="true"
                    data-router-refresh="main">
                        {{#if this.attributes.menuTag}}
                            <p class="app-download-list-new-tag">
                                {{{ this.attributes.menuTag }}}
                            </p>
                        {{/if}}
                        <svg viewBox="0 0 20 20">
                            <use xlink:href="#{{ this.attributes.svg }}" />
                        </svg>
                        <span>{{ this.title }}</span>
                    </a>
                </li>
                {{/condition}}
            {{/each}}
            </ul>
        </dd>
    </dl>
{{/condition}}
